:host ::ng-deep {
  .p-tabmenu .p-tabmenu-nav .p-tabmenuitem {
    .p-menuitem-link {
      border-width: 0;
      border-color: var(--surface-a);
      color: rgba(0, 0, 0, 0.6);
      transition: border-color 0.3s;
    }

    .p-menuitem-link-active {
      border-width: 0px 0px 2px 0px;
      border-color: var(--primary-color);
      color: var(--primary-color);
    }
  }

  .p-tabmenu-ink-bar {
    visibility: hidden;
  }
}
